<div id="contact">
    <hr />
    <h1>Contact us.</h1>
    <h2>
        G.D Mountain Bike Shop<br />
        54 Belomorska street,Chepelare <br />
        Bulgaria <br/>
        Phone: +35900000000
       
    </h2>

    <h2>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@gdbikes.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gdbikes.com</a>
    </h2>
</div>
